
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tabela.css' %}">
<style>
  td {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  th {
    font-size: 30px;
  }
  #desktop{
    max-width: 2480px;
    max-height: 2480px;
    width:100%;
    margin-bottom: 100px;
  }
  #desktop td{
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
  }
  #table-mobile{
    width: 100%;
    text-align: center;
  }

  th {
    text-align: center;
  }

</style>
<h1 class="titulo">{{ fazenda.pessoa_id.nome_razao_social }}</h1>
{% csrf_token %}
<body>
  {% for igreja in igrejas %}
  <div id="desktop" class="table-responsive">
    <table id="desktop" class="table">
      
      <tr>
        <th>Igreja:</th>
        <th>CNPJ:</th>
        <th>Fundação:</th>
        <th>Endereço:</th>
      </tr>
      <tr>
        <td>{{ igreja.0.pessoa_id.nome_razao_social }}</td>
        <td>{{ igreja.0.cnpj }}</td>
        <td>{{ igreja.0.data_fundacao }}</td>
        <td>{{ igreja.1.logradouro }} Nº {{ igreja.1.numero }}, {{ igreja.1.bairro }}, {{ igreja.1.municipio }} - {{ igreja.1.uf }}</td>
      </tr>
      
      <tr>
        <th>Telefone:</th>
        <th>Email:</th>
        <th>Site:</th>
        <th>Informações Adicionais:</th>
      </tr>
      <tr>
        <td>{{ igreja.4.0.telefone }}</td>
        <td>{{ igreja.3.0.email }}</td>
        <td>{{ igreja.5.0.site }}</td>
        <td>{{ igreja.0.pessoa_id.informacoes_adicionais }}</td>
      </tr>
      
      <tr>    
        <th>Função:</th>
        <th>Nome:</th>
        <th>CPF:</th>
        <th>RG:</th>    
      </tr>
      <tr>
        <td>{{ igreja.2.0.funcao }}</td>
        <td>{{ igreja.2.0.nome }}</td>
        <td>{{ igreja.2.0.cpf }}</td>
        <td>{{ igreja.2.0.rg }}</td>
      </tr>
      <tr>  
        <th>Endereço:</th>
      </tr>
      
      <tr>
        <td>{{ igreja.2.0.logradouro }} Nº {{ igreja.2.0.numero }}, {{ igreja.2.0.bairro }}, {{ igreja.2.0.municipio }} - {{ igreja.2.0.uf }}</td>
      </tr>
      <br>
      
    </table>
  </div>
  {% endfor %}
  {% for igreja in igrejas %}
  <div id="div-table-mobile" class="table-responsive">
    <table id="table-mobile" class="table">
      <tr>
        <th>Igreja:</th>
        <th>CNPJ:</th>
      </tr>
      <tr>
        <td>{{ igreja.0.pessoa_id.nome_razao_social }}</td>
        <td>{{ igreja.0.cnpj }}</td>
      </tr>

      <tr>
        <th>Fundação:</th>
        <th>Endereço:</th>
      </tr>  
      <tr>
        <td>{{ igreja.0.data_fundacao }}</td>
        <td>{{ igreja.1.logradouro }} Nº {{ igreja.1.numero }}, {{ igreja.1.bairro }}, {{ igreja.1.municipio }} - {{ igreja.1.uf }}</td>
      </tr>

      <tr>
        <th>Telefone:</th>
        <th>Email:</th>
      </tr>

      <tr>
        <td>{{ igreja.4.telefone }}{{ igrejas }}</td>
        <td>{{ igreja.3.email }}</td>
      </tr>
      <tr>
        <th>Site:</th>
        <th>Informações Adicionais:</th>
      </tr>
      <tr>
        <td>{{ igreja.5.site }}</td>
        <td>{{ igreja.0.pessoa_id.informacoes_adicionais }}</td>
      </tr>
      <tr>  
        <th>Função:</th>
        <th>Nome:</th>
      </tr>
      <tr>
        <td>{{ igreja.2.0.funcao }}</td>
        <td>{{ igreja.2.0.nome }}</td>
      </tr>

      <tr>
        <th>CPF:</th>
        <th>RG:</th>   
      </tr>
      <tr>
        <td>{{ fazenda.encaminhado }}</td>
        <td>{{ fazenda.oferta }}</td>
      </tr>
      
    </table>
    <hr>
  </div>
  {% endfor %}
</div>

<footer>
    
</footer>
