<div class="formset-box">
  <div id="{{formset.prefix}}-{{forloop.counter0}}" class="formset">
    <div class="col-sm-12 formset-header">
      <h4 class="formset-title">Informações da Igreja</h4>
    </div>

<div class="col-sm-6">
  <div class="form-group">
    <div class="form-line">
      <label id="nome_razao">{{form.nome_razao_social.label}}</label><strong style="color:red;"> *</strong>
      {% if form.nome_razao_social.errors %}<label class="error">{% for error in form.nome_razao_social.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.nome_razao_social}}
    </div>
  </div>
</div>

<div class="col-sm-6 {{pessoa_juridica_form.prefix}}">
  <div class="form-group">
    <div class="form-line">
      <label>{{pessoa_juridica_form.cnpj.label}}</label>
      {% if pessoa_juridica_form.cnpj.errors %}<label class="error">{% for error in pessoa_juridica_form.cnpj.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{pessoa_juridica_form.cnpj}}
    </div>
  </div>
</div>
<!-- PESSOA FÍSICA SETADA -->

<div class="col-sm-6">
  <div class="form-group">
    <div class="form-line">
      <label>{{pessoa_juridica_form.data_fundacao.label}}</label>
      {% if pessoa_juridica_form.data_fundacao.errors %}<label class="error">{% for error in pessoa_juridica_form.data_fundacao.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{pessoa_juridica_form.data_fundacao}}
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.informacoes_adicionais.label}}</label>
      {% if form.informacoes_adicionais.errors %}<label class="error">{% for error in form.informacoes_adicionais.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.informacoes_adicionais}}
    </div>
  </div>
</div>

</div>
</div>